aiogram==3.1.1
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
psycopg2-binary==2.9.9
emoji==2.8.0
python-dotenv==1.0.0
async-class==0.5.0
asyncpg==0.28.0
pymorphy3==1.2.1
nltk==3.8.1
wordcloud==1.9.2